<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Process Mavenlink reports to get summarized time costs" />
    <title>@ViewData["Title"] - Mavenlink Invoice</title>
    <style>
        html, body {
            height: 100%;
            line-height: 1.25;
            margin: 0;
            text-align: center;
        }

        body {
            display: flex;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }

        footer {
            flex-shrink: 0;
        }

        table {
            border-collapse: collapse;
        }

        .toggle {
            display: none;
        }
        .toggle + .toggleable {
            display: none;
        }
        .toggle:checked + .toggleable {
            display: table;
        }

        .toggleable {
            margin-left: auto;
            margin-right: auto;
        }
        .toggleable table th,
        .toggleable table td {
            padding: 0.1rem 0.5rem;
        }
        .toggleable table td:first-child {
            text-align: left;
        }
        .toggleable table tr:last-child {
            background-color: lightgray;
            font-size: 1.1rem;
            font-weight: bold;
        }

        .validation-summary-errors {
            display: inline-block;
            color: red;
        }
    </style>
</head>
<body>
    <header>
        <h1>
            <a href="https://app.mavenlink.com/time_entries" target="_blank" rel="noreferrer" title="Mavenlink report">Mavenlink report</a> &#8594; Invoice
        </h1>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p>No scripts, minimum styles, only hardcore.</p>
        <p><a href="https://www.linkedin.com/in/burkovsky/" target="_blank" rel="noreferrer" title="Anton Burkovsky">Anton Burkovsky</a></p>
    </footer>
</body>
</html>
